/*  your css code here. If applicable */
body{
	background-color:rgb(204,204,204);
}
ul{
	padding-left:15px;
}
li{
	list-style-type:none;
}
h2{
	text-align:center;
	margin-top:5px;
}
.song-list{
	margin-left:30px;
	margin-right:30px;
	background-color:white;
	border:2px solid black;
	border-radius:8px;
}
.player_one{
	background-color:rgb(255,255,255);
	text-align:center;
	padding:10px;
		
}
.player-two{
	margin-bottom:10px;
	background-color:rgb(255,255,255);
}
.media{
	background-color:white;
	margin-left:40px;
	margin-right:40px;
	border-radius:8px;
	border:2px solid black;
	display:flex;
	flex-direction:column;
	align-items:center;
}